# Ignore everything
*

# Allow only essential files
!.gitignore
!README.md
!pubspec.yaml
!pubspec.lock
!analysis_options.yaml

# Allow only lib/ folder
!lib/
lib/**

# OPTIONAL: If using assets or test folder, whitelist them too
#!assets/
#!assets/images/
#!test/
